<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="http://i66.tinypic.com/6r3w4m.jpg">
    <title>paws</title>

    <!-- STYLESHEETS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>
  </head>
  <body>

    <div id="header">
      <!-- NAVIGATION -->
      <ul class="topnav" id="myTopnav">
        <li><a href="/">home</a></li>
        <li><a href="/profile">about</a></li>
        <li><a href="mailto:info@paws.org">contact</a></li>
        <li class="icon">
          <a href="javascript:void(0);">&#9776;</a>
        </li>
      </ul>
      <div class="jumbotron">
        <div class="container">
          <!-- LOGO, TITLE, HEADLINE -->
          <h1>.paws(<img id="logo" src="http://i66.tinypic.com/2j5nx5c.png"/>)</h1>
          <p>find your new best friend&trade;</p>
          <button class='btn btn-primary addPet'> &#10010; add a pet</button>
        </div>
      </div>
  </div>

    <!-- MAIN CONTENT -->
    <section class="container">
      <div id="about-section" class="row">
        <!-- ABOUT -->
        <h2>who we are</h2>
        <br>
        <h4 id="header"><i>"Whether you are looking to adopt or hoping to find a new home
            for your furry friend, <b>paws</b> is your definitive resource."</i>
        </h4>
        <br>
        <p id="about"><b>paws</b> is the result of three devastatingly attractive and unequivocally brilliant web developers.
            CEO Chris Chan originated the vision to build the best pet adoption service on the web. As fellow animal enthusiasts,
            COO Toby Zitsman and CTO Natalia Hess were eager to join Chris on this endeavor. Many cups of coffee later, we finally
            launched our site. We love our pets and can't wait for you to find yours.
        </p>
        <br>
          <img class="pics" id="chris" src="http://i65.tinypic.com/2ypangg.jpg" alt="chris">
          <img class="pics" id="natalia" src="http://i63.tinypic.com/2lbm9h3.jpg" alt="natalia">
          <img class="pics" id="toby" src="http://i64.tinypic.com/2nao87b.jpg" alt="toby">
      </div>
    </section>

  </body>

</html>
